/* -- Custom Properties (Variables) -- */
:root{
    --colorBlanco: #FFF;
    --colorGris: #343A40;
    --colorNegro: #111;

    --fuentePrincipal: 'Raleway', sans-serif;
}

/* -- REM=10px y Box Sizing -- */
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: inherit;
}

/* -- Globales -- */
body{
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.8;
}

h1,
h2,
h3{
    font-weight: 900;
    margin: 1rem 0 4rem 0;
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 5.8rem;
}

h3{
    font-size: 5rem;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    display: block;
}

/* -- Utilidades -- */
.texto-centrado{
    text-align: center;
}

.mt-5{
    margin-top: 5rem;
}

/* -- Contenedor -- */
.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

/* -- Boton -- */
.btn{
    color: var(--colorGris);
    background-color: var(--colorBlanco);
    border: 1px solid var(--colorGris);
    padding: .5rem 2rem;
    cursor: pointer;
    transition: background-color .3s;
}
.btn:hover{
    background-color: var(--colorGris);
    color: var(--colorBlanco);
}